{% extends "webapp/header.html" %}

{% block content %}
<html>
    <body>
    	<div style="background-color:#D8BFD8;color:black;padding:20px;">

        <h3> Analyzing data is an important part</h3>
        <p>The development of Web-Based RIG Performance Reporting System is a solution to the CoRe department to generating the report from the system. This system can visualize the data from the database in order to analyze the performance.</p>
    </div>

    <div style="background-color:#D8BFD8;color:black;padding:20px;">

        <h3>About Publication</h3>
        <p>Providing on the research information of UiTM Researchers over the last few years. Which consists of :</p>
        <ul style="list-style-type:circle">
		  <li>Indexed Journal</li>
		  <li>Non-Indexed Journal</li>
		  <li>Other Publications</li>
		</ul>
    </div>
    <div style="background-color:#D8BFD8;color:black;padding:20px;">

        <h3>About Research Grant</h3>
        <p>Reporting about research grant of the researchers. Which consists of:</p>
        <ul style="list-style-type:circle">
		  <li>Research Grant</li>
		  <li>Research Grant in Ringgit(RM)</li>
		</ul>
    </div>

    <div style="background-color:#D8BFD8;color:black;padding:20px;">

        <h3>About RIG Performance</h3>
        <p>RIG Performance will be analyze based on their publication and research grant in a group</p>
    </div>
        
    </body>
</html>


{% endblock %}