{% extends "webapp/header.html" %}

{% block content %}
<html>
    <body>
        <div style="color:black;padding:20px;">
        	<h3>Advanced Computing and Communication</h3>
        </div>
        <div style="background-color:#D8BFD8;color:black;padding:20px;">
        
        <h4>Research Interest Group Tier 4</h4>

		<ul style="list-style-type:circle">
		  <li>Advance Analytics Engineering Centre (AAEC)</li>
		
	</font>
	</div>

	<div style="background-color:#D8BFD8;color:black;padding:20px;">
		<h4>Research Interest Group Tier 5</h4>
		<ul style="list-style-type:circle">
		  <li>Antenna Research Centre (ARC)</li>
		  <li>Applied Electromagnetic Research Group (AERG)</li>
		  <li>Applied Remote Sensing and Geospatial Research Group (ASRG)</li>
		  <li>Automation and Robotics Research Group (AARG)</li>
		  <li>Business Datalytics Research Group (BDRG)</li>
		  <li>Computing Education Research Group (CERG)</li>
		  <li>Crowd Sourcing Business and Innovation Research Group (CBNI)</li>
		  <li>Digital Forensics Research Group (DFRG)</li>
		  <li>Digital Image, Audio and Speech Technology Research Group (DIAST)</li>
		  <li>Electronic Architecture and Application Research Group (EArA)</li>
		  <li>Enabling Internet of Things Technologies Research Group (ELIoTT)</li>
		  <li>Industrial Informatics Research Group </li>
		  <li>Industrial Instrumentation System Design Research Group (ISRG)</li>
		  <li>Information Security and Trusted Infrastructures Laboratory Research Group (INSTIL)</li>
		  <li>Integrated Microelectronic Systems and Applications Research Group (IMSaA)</li>
		  <li>Intelligent Systems Research Group (ISRG)</li>
		  <li>Interactive Computing and Communication Technology Research Group (ICC)</li>
		  <li>Knowledge and Software Engineering Research GroupAntenna Research Centre (KASERG)</li>
		  <li>Logistics Modeling Research Group (LMRG)</li>
		  <li>Maker Talent for Digital Innovation Research Group</li>
		  <li>Mechatronics and Intelligent System Research Group (MAIS)</li>
		  <li>Mobile Learning and technology Research Group (MLAT)</li>
		  <li>Multidisplinary Information Retrieval Research Group (MUDiR)</li>
		  <li>Photonics Engineering Research Group (PERG)</li>
		  <li>Power System Operation Computational Intelligence Research Group (POSC)</li>
		  <li>Power System Planning and Operations Research Group (POSPO)</li>
		  <li>Spatial Visual Analytics Research Group (SVAG)</li>
		  <li>Statistical and Survey Methodology Research Group (SASM)</li>
		  <li>Wireless Communication Technology Research Group (WICOT)</li>
		  <li>Wireless High Speed Network Research Group (WHSN)</li>
		  <li>Wireless Sensor and Mobile Adhoc Networks Research Group (ARC)</li>
		  <li>Wireless Sensor Network, Computer Security and Forensics, and Mobile Applications Research group (WSNC)</li>
		</ul>
	</div>


        
    </body>
</html>


{% endblock %}